/* ul { */

/* list-style-type: square;     */

/* font-size: 5em;
    list-style-image: url('./images/Capture.PNG'); */

/* list-style-position: inside; */

/*     
    
    list-style: inside square;
}

ol {
    list-style-type: lower-roman;
} */

/* body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
}

table {
    width: 600px;
}

th, td {
    padding: 7px 10px 10px 10px;
}


th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}


tr.even {
    background-color: #efefef;
}


tr:hover {
    background-color: #c3e6e5;
}

.money {
    text-align: right;
} */




td {
    border: 1px solid #0088dd;
    padding: 15px;
}
.one{
    /* empty-cells: hide; */
    border-spacing: 20px 50px;
    border-collapse: collapse;
}