<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />


</head>

<body>

    <div class="header">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </div>


    <h1>Learning Layout Chapter</h1>

    <!-- <div>
        <h2>Hello Layout</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa cum, corporis eos ducimus laboriosam
            voluptatem quibusdam repellat quae, dolorum in itaque soluta blanditiis id placeat nostrum assumenda,
            obcaecati ab animi?</p>
        <p class="relative">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa cum, corporis eos ducimus
            laboriosam
            voluptatem quibusdam repellat quae, dolorum in itaque soluta blanditiis id placeat nostrum assumenda,
            obcaecati ab animi?</p>

        <h4 class="absolute">Absolute Text</h4>

        <h4 class="fixed">I am the boss.</h4>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa cum, corporis eos ducimus laboriosam
            voluptatem quibusdam repellat quae, dolorum in itaque soluta blanditiis id placeat nostrum assumenda,
            obcaecati ab animi?</p>
    </div>

    <div>
        <h2>Hello Layout</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa cum, corporis eos ducimus laboriosam
            voluptatem quibusdam repellat quae, dolorum in itaque soluta blanditiis id placeat nostrum assumenda,
            obcaecati ab animi?</p>
    </div>

    <div>
        <h2>Hello Layout</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa cum, corporis eos ducimus laboriosam
            voluptatem quibusdam repellat quae, dolorum in itaque soluta blanditiis id placeat nostrum assumenda,
            obcaecati ab animi?</p>
    </div> -->





















    <div class="col-1">
        <h3>Column Layout</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum soluta necessitatibus, deserunt adipisci
            dignissimos debitis repellat commodi exercitationem, rem quasi repellendus nisi, recusandae ab. Enim
            voluptatum recusandae autem fuga voluptatibus.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum soluta necessitatibus, deserunt adipisci
            dignissimos debitis repellat commodi exercitationem, rem quasi repellendus nisi, recusandae ab. Enim
            voluptatum recusandae autem fuga voluptatibus.</p>

    </div>
    <div class="col-2">
        <h3>Column Layout</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum soluta necessitatibus, deserunt adipisci
            dignissimos debitis repellat commodi exercitationem, rem quasi repellendus nisi, recusandae ab. Enim
            voluptatum recusandae autem fuga voluptatibus.</p>

    </div>



    <div class="clear">
        <h3>Column Layout</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum soluta necessitatibus, deserunt adipisci
            dignissimos debitis repellat commodi exercitationem, rem quasi repellendus nisi, recusandae ab. Enim
            voluptatum recusandae autem fuga voluptatibus.</p>

    </div>

    <div>
        <h3>Column Layout</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum soluta necessitatibus, deserunt adipisci
            dignissimos debitis repellat commodi exercitationem, rem quasi repellendus nisi, recusandae ab. Enim
            voluptatum recusandae autem fuga voluptatibus.</p>

    </div>







</body>

</html>