img {
    /* float: right; */
    display: block;
    margin: 0 auto;
    width: 425px;
    height: 290px;
}
body{
    background-color: blue;
}

div {
    /* width: 400px;
    height: 400px; */
    color: #fff;
    background: url('./flower.webp') no-repeat center center;
}